.characterImage{
    border: 3px #4eced5 double;
    width: clamp(50%, 700px, 70%);
    height: min(50%, 300px);
}




.desciptionCard{
    background-color: rgb(0, 0, 0, 0.8);
    color: white;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 3px #4eced5 double;
    margin-bottom: 20px;
    align-items: center;
}

.mainLink{
    background-color: rgb(0, 0, 0, 0.8);
    color: white;
    width: 80px;
    margin: 0 auto;
    padding: 20px;
    border: 3px #4eced5 double;

}

.mainLink a {
    text-decoration: none;
    color: white;
  }

Link:visited{
    color: white;
    text-decoration: none;
}